body {
    background-color: var(--light-color);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 55%;
    height: 60%;
    border-radius: 16px;
    display: flex;
    box-shadow: var(--shadow-1);
    background-color: var(--back-color);
}

.info {
    width: 50%;
    height: 100%;
    display: flex;
    border-radius: 16px 0 0 16px;
    background-image: url('../img/bglogin.jpg');
    background-position: 30%;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color-2);
    
    & h1 {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #444;
        font-size: 62px;
        font-weight: 800;
    }

    & p {
        text-align: center;
        font-size: 22px;
        font-weight: 100;
        margin-bottom: 24px;
    }
}

.login-cont {
    padding: 26px;
    height: 100%;
    width: 50%;

    & h2 {
        font-size: 54px;
        line-height: 54px;
        color: var(--primary-color);
    }
}

.form-login {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sub-btn {
    display: flex;
    justify-content: end;
}