:root {
    --tom: 240;
    --primary-color: hsl(var(--tom), 10%, 10%, 100%);
    --primary-dark-color: hsl(var(--tom), 35%, 10%);
    --light-color: hsl(var(--tom), 30%, 90%);
    --back-color: hsl(var(--tom), 100%, 100%, 100%);
    --shadow-1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --grey-head: hsl(var(--tom), 10%, 10%, 100%);
    --input-color-1: #000;
    --input-color-2: #fff;
    --text-color-1: #000;
    --text-color-2: #fff;
    --text-color-3: #444;
    --title-color: #fff;
    --aside-background: #fff;
    --content-text-color: #000;
    --blue-link: #2424f3;
    --danger-color: hsl(0, 84%, 51%);
    --modal-bg: #000000a8;
    --modal-text: #111;
}

:root[data-theme="dark"] {
    --primary-color: hsl(var(--tom), 10%, 10%);       
    --primary-dark-color: hsl(var(--tom), 35%, 10%);  
    --light-color: hsl(var(--tom), 25%, 20%);         
    --back-color: hsl(var(--tom), 10%, 30%);          
    --shadow-1: rgba(27, 27, 27, 0.6) 0px 3px 8px;       
    --grey-head: hsl(var(--tom), 10%, 10%, 100%);       
    --input-color-1: #fff;       
    --input-color-2: hsl(var(--tom), 10%, 30%);       
    --text-color-1: #fff;                             
    --text-color-2: #ccc;                             
    --text-color-3: #888;                             
    --title-color: #ffffff;                           
    --aside-background: hsl(var(--tom), 10%, 28%);
    --content-text-color: #fff;
    --blue-link: #4d4dff;
    --danger-color: hsl(0, 84%, 61%);    
    --modal-bg: #000000a8;
    --modal-text: #f5f5f5;            
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}